In [2]:
import numpy as np
import pandas as pd

In [29]:
df = pd.read_csv('ldt-design-item-difficulties.csv')

In [30]:
df = df.sort_values(["block", "realpseudo","b_i"], ascending = (True,True,True))

In [31]:
df = df.reset_index()

In [32]:
df = df.drop(['index','Unnamed: 0'],axis = 1)

In [33]:
df

             words realpseudo block  order   b_i    se  group
0               ef     pseudo     A     53 -2.52  0.33    NaN
1            ggnoi     pseudo     A     48 -2.37  0.31    NaN
2              uoy     pseudo     A     39 -1.95  0.30    NaN
3             inni     pseudo     A     43 -1.88  0.30    NaN
4               ip     pseudo     A     54 -1.87  0.30    NaN
..             ...        ...   ...    ...   ...   ...    ...
247             an       real     C     33  0.94  0.32    4.0
248  configuration       real     C     32  1.37  0.30    4.0
249        qualify       real     C     21  1.42  0.29    4.0
250   appropriates       real     C     38  2.13  0.35    4.0
251        garment       real     C     37  2.36  0.36    4.0

[252 rows x 7 columns]

In [34]:
def label_difficulty(local_df,num_levels,num_blocks):
    n = len(local_df)
    lis = []
    for i in range(2*num_blocks):
        for j in range(num_levels):
            for k in range(int(n/(num_blocks * num_levels * 2))):
                    lis.append(j)
    print(lis)
    return local_df.insert(6,"difficulty_group",lis)

In [35]:
label_difficulty(df,6,3)

[0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5]

In [36]:
df

,words,realpseudo,block,order,b_i,se,difficulty_group,group
0,ef,pseudo,A,53,-2.52,0.33,0,NaN
1,ggnoi,pseudo,A,48,-2.37,0.31,0,NaN
2,uoy,pseudo,A,39,-1.95,0.30,0,NaN
3,inni,pseudo,A,43,-1.88,0.30,0,NaN
4,ip,pseudo,A,54,-1.87,0.30,0,NaN
...,...,...,...,...,...,...,...,...
247,an,real,C,33,0.94,0.32,5,4.0
248,configuration,real,C,32,1.37,0.30,5,4.0
249,qualify,real,C,21,1.42,0.29,5,4.0
250,appropriates,real,C,38,2.13,0.35,5,4.0
251,garment,real,C,37,2.36,0.36,5,4.0

In [37]:
df.to_csv('ldt-items-difficulties-with-six-levels.csv')